<div class="user-list-page">
  <app-page-header 
    title="Users" 
    [breadcrumbs]="[
      {label:'Dashboard', link:'/dashboard'},
      {label:'Users'}
    ]">
    <a mat-flat-button class="add-btn" routerLink="/users/create">
      <mat-icon>add</mat-icon> 
      Add User
    </a>
  </app-page-header>

  <div class="table-wrapper">
    <app-data-table
      [columns]="columns"
      [rows]="users()"
      [total]="total()"
      [loading]="isLoading()"
      [pageSize]="limit()"
      [pageIndex]="page() - 1"
      (searchChange)="onSearch($event)"
      (pageChange)="onPage($event)"
      (sortChange)="onSort($event)">
        <ng-template #rowActions let-user>
          <div class="action-buttons">
            <button mat-icon-button matTooltip="View User" (click)="viewUser(user)">
              <mat-icon>visibility</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Edit User" (click)="editUser(user)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Delete User" (click)="deleteUser(user)" class="delete-btn">
              <mat-icon>delete_outline</mat-icon>
            </button>
          </div>
        </ng-template>
    </app-data-table>
  </div>
</div>